* {
    box-sizing: border-box;
}

body{
    background-color: lightskyblue;
}

@media screen and (max-width: 800px){
    body{
        /*anytime the page is show on a screen with a width from 800px
        to  401px wide. in this media link, change anything you want to look
        different on phone vs tablet vs laptop. ie, font size, image roation,
        etc.*/
        background-color: lightpink;
    }
}

@media screen and (max-width:400px){
    /*anytime the page is shown on a screen with a width from 400px-0x wide*/
    body{
        background-color: lightgoldenrodyellow;
    }
}

/*new stylesheet called layout.css which is where more decorative
editing is done. helps start from scratch*/